Pyrogram==1.4.16
tgcrypto
py-tgcalls==0.8.0
ntgcalls==1.1.0
yt-dlp
youtube-search-python
spotipy
pillow
python-dotenv
aiohttp
aiofiles
httpx
https://github.com/PyrogramMod/PyrogramMod/archive/refs/heads/main.zip
