pyrogram==2.0.106
tgcrypto
py-tgcalls==1.1.2
ntgcalls==1.1.2
yt-dlp
youtube-search-python
spotipy
pillow
python-dotenv
aiohttp
aiofiles
httpx
https://github.com/PyrogramMod/PyrogramMod/archive/refs/heads/main.zip
